.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border: none;
  height: 50px;
  padding-top: 40px;

  .titulo_logo {
    width: 100%;
    max-width: 200px;

    a {
      display: block;

      img {
        width: 120px;
      }
    }
  }

  .menu_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;
      right: 10rem;

      li {
        margin-right: 2rem;
        position: relative;

        a {
          text-decoration: none;
          color: #3513f6;
          font-size: 1rem;
          display: flex;
          align-items: center;

          span {
            margin-left: 0.3rem;
            transform: rotate(90deg);
            transition: transform 0.3s ease;
            display: block;
            font-size: 30px;
          }
        }

        &:hover>a span {
          transform: rotate(-85deg);
        }

        &:hover .list_menu_recursos,
        .list_menu_recursos:hover {
          display: block;
          opacity: 1;
          transform: translateY(0);
        }
      }

      .list_menu_recursos {
        display: none;
        position: absolute;
        border-top: 2px solid #5e01ff;
        top: 20px;
        width: 280px;
        left: 0;
        background-color: #fff;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.461);
        list-style: none;
        padding: 1rem 0;
        text-align: center;
        margin: 0;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        border-radius: 5px;

        li {
          padding: 0.5rem 3rem;

          a {
            color: #000000;
            text-decoration: none;
            width: 200px;

            &:hover {
              color: #007bff;
            }
          }
        }
      }

      .seta_menu {
        font-size: 15px;
        font-weight: 700;
      }
    }
  }

  .button_header {
    display: block;
    position: relative;
    right: 10rem;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #32ce8f;
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
}

/* Estilos responsivos */

@media (max-width: 1000px) and (min-width: 768px) {

  /* Reduzir a largura do menu */

  .menu_header {
    display: block;
    width: 400px;
    height: auto;
  }

  .list_menu_principal {
    display: none !important;
  }

  .titulo_logo img {
    width: 100%;
    max-width: 90px;
  }

  .navbar-toggler {
    display: block !important;
    width: 50px !important;
    height: 50px !important;
    border: 1px solid #868686 !important;
    position: relative;
    right: -15rem;
    z-index: 2;

    .navbar-toggler-icon {
      background-color: black;
      width: 90%;
      height: 2px;
      border-radius: 50px;
    }
  }

  .button_header {
    display: block;
    position: relative;
    left: 1rem;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #32ce8f;
    font-size: 16px;
    font-weight: 400;
    color: white;
  }

  .navbar-nav {
    display: flex;
    position: relative;
    left: -1px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 768px) and (min-width: 468px) {

  /* Reduzir a largura do menu */

  .menu_header {
    display: flex;
    width: 100%;
    height: auto;
  }

  .list_menu_principal {
    display: none !important;
  }

  .titulo_logo img {
    width: 100%;
    max-width: 90px;
  }

  .button_header {
    display: block;
    position: relative;
    left: 6rem;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #32ce8f;
    font-size: 16px;
    font-weight: 400;
    color: white;
  }

  .navbar-toggler {
    display: block !important;
    width: 50px !important;
    height: 50px !important;
    border: 1px solid #868686 !important;
    position: relative;
    right: -20rem;
    z-index: 2;

    .navbar-toggler-icon {
      background-color: black;
      width: 90%;
      height: 2px;
      border-radius: 50px;
    }
  }

  .navbar-nav {
    display: flex;
    position: relative;
    left: -1px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

} 

@media (max-width: 468px) and (min-width: 100px) {

  /* Reduzir a largura do menu */

  .menu_header {
    display: flex;
    width: 100%;
    height: auto;
  }

  .list_menu_principal {
    display: none !important;
  }

  .titulo_logo img {
    width: 100%;
    max-width: 90px;
  }

  .button_header {
    display: block;
    position: relative;
    width: 90px;
    left: -2.5rem;
    bottom: 25px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #32ce8f;
    font-size: 16px;
    font-weight: 400;
    color: white;
  }

  .navbar-toggler {
    display: block !important;
    width: 100%;
    max-width: 50px !important;
    height: 50px !important;
    border: 2px solid #000000 !important;
    border-radius: 5px;
    position: relative;
    left: 4rem;
    top: 25px;
    z-index: 2;

    .navbar-toggler-icon {
      background-color: black;
      width: 65%;
      height: 1px;
      border-radius: 50px;
    }
  }

  .navbar-nav {
    display: flex;
    position: relative;
    left: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

}


.navbar-toggler {
  display: none;
}