.Container_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .banner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .imagemCell {
      width: 100%;
      height: 100%;

      img {
        width: 750px;
        height: 750px;
        object-fit: cover;
      }
    }


    .textBanner {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: start;

      h2 {
        width: 700px;
        font-size: 80px;
      }

      p {
        width: 600px;
        height: 65px;
        font-size: 20px;
        color: #7c8087;
        padding-top: 10px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 30px;
        background-color: #51d5a0;
        border-radius: 5px;
        padding: 30px;
        border: none;
        
        a{
          font-weight: 400;
          font-size: 18px;
          color: white;
        }
      }
    }
  }
}